@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Pacifico&display=swap');

.navbar {
    margin: 30px 30px;
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    list-style: none;
    color: #FFF;
    
}
.links li {
    margin: 0 25px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
    color: #FFF;
    text-decoration: none;
}
.links li:hover {
    color: purple;
    cursor: pointer;
    transition: 0.5s;
}
.imglinks {
    margin: 10px 10px;
    cursor: pointer;
}
.second {
    display: flex;
}

.togglerDiv {
    width: 280px;
    height: 300px;
    background-color: rgb(210, 175, 243);
    position: absolute;
    right: 73px;
    top: 80px;
    text-align: center;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    display: block;
}
.toggler li {
    list-style: none;
    margin: 20px;
    padding-right: 50px;
    color: #000000;
    padding-top: 2px;
}
.toggler li:hover {
    color: #FFF;
    transition: 0.5s;
}
.togglelinks {
    margin: 10px 10px;
    cursor: pointer;
}
.toggleButton {
    display: none;
}

/** Media Query**/

@media (max-width: 993px) {
    .second {display: none;}
    .toggleButton {display: block;}
}
@media (min-width: 993px) {
    .togglerDiv {display: none;}
}
@media (min-width: 500px) {
    .navbar { margin: 30px 20px;}
}
