@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.home {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}
.intro {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    width: 640px;
}
.intro span {
    background: var(--gradient-heading, linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}
.profileDp {
    margin-right: 150px;
    margin-top: 20px;
}
